{% extends '_base.html' %}

{% block title %}Consolidation {{ consol.mawb }}{% endblock title %}
{% block content %}
<div class="card text-center">
    <div class="card-header">
        {{ consol.mawb }}
    </div>
    <div class="card-body">
        <h5 class="card-title">Consol Details</h5>
        <p class="card-text">Create Date: {{ consol.create_date }}</p>
        <p class="card-text">Destination: {{ consol.destination }}</p>
        <p class="card-text">Weight: {{ consol.consol_weight }}lbs - {{ consol.consol_weight_in_kg }}kg</p>
        <p class="card-text">Carton Count: {{ consol.consol_cartons }}</p>

        <form method="POST" action="{% url 'shipments:remove_shipments' consol.pk %}">
            {% csrf_token %}
            {% for shipment in shipments %}

            <h5 class="card-title"><input type="checkbox" aria-label="Checkbox for following text input"
                    name="onhands[]" value="{{ shipment.on_hand }}">&nbsp;<a
                    href="{{ shipment.get_absolute_url }}">Shipping
                    Unit: {{ shipment.identifier }}</a></h5>
            {% endfor %}
            <input type="submit" name='remove' value="Remove Shipments" class="btn btn-info">
        </form>
        <br>
        <div class="container">
            <h2><a href="{% url 'shipments:add_shipments' consol.pk %}" class="btn btn-primary">Add Shipments to
                    Consol</a>
            </h2>
        </div>
        <h2><a href="{% url 'shipments:update_consol' consol.pk %}" class="btn btn-primary">Update Consolidation
                Details</a>
        </h2>
    </div>

</div>
{% endblock content %}