{% extends '_base.html' %}

{% block title %}Add to Consol{% endblock title %}

{% block content %}
{% if shipments %}
{% for shipment in shipments %}
<br>
<form method="post" action="{% url 'shipments:save_consol' %}" novalidate>
    {% csrf_token %}
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title"><input type="checkbox" aria-label="Checkbox for following text input"
                        name="onhands[]" value="{{ shipment.on_hand }}">&nbsp;<a
                        href="{{ shipment.get_absolute_url }}">Shipping
                        Unit Number: {{ shipment.on_hand }}</a></h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Shipper: {{ shipment.shipper }}</h6>
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="MAWB" name="mawb">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="HAWB" name="hawb">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Destination" name="destination">
            </div>
            <div class="col">
                <input type="date" class="form-control" placeholder="Date" name="cutoff">
            </div>
        </div>
        <br>
        <input type="submit" value="Create Consolidation" class="btn btn-info btn-lg">
    </div>
</form>
<br>
<!--        <div class="card" style="width: 18rem;">-->
<!--            <ul class="list-group list-group-flush">-->
<!--                <li class="list-group-item">Total Shipping Units: </li>-->
<!--                <li class="list-group-item">Total Weight: </li>-->
<!--            </ul>-->
<!--        </div>-->
{% else %}
<!-- <div class="container">
    <h1>No units released! You must release a shipment before you can add it to a consolidation.</h1>
    <a href="{% url 'shipments:units_release' %}" class="btn btn-primary btn-lg">Release Shipments</a>
    <a href="{% url 'unit_list' %}" class="btn btn-primary btn-lg">View Shipments</a>
</div> -->
{% endif %}

{% endblock content %}