{% extends '_base.html' %}

{% block title %}Shipping Units{% endblock title %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Shipment ID</th>
            <th scope="col">Shipment Create Date</th>
            <th scope="col">Client</th>
            <th scope="col">Carrier</th>
            <th scope="col">Remark</th>
            <th scope="col">Pallet Count</th>
            <th scope="col">Pieces</th>
            <th scope="col">Weight (Lbs)</th>
            <th scope="col">CBM</th>
            <th scope="col">Days in House</th>
            <th scope="col">Pictures</th>
            <th scope="col">Shipment Status</th>
        </tr>
    </thead>
    <tbody>
    {% for shipment in shipments %}
        <tr>
            <th scope="col"><a href="{{ shipment.get_absolute_url }}">{{ shipment.locations }}-{{ shipment.on_hand }}</a></th>
            <th scope="col">{{ shipment.create_date }}</th>
            <th scope="col">{{ shipment.shipper }}</th>
            <th scope="col">{{ shipment.consignee }}</th>
            <th scope="col">{{ shipment.remark|truncatewords:7 }}<!-- make a modal --></th>
            <th scope="col">{{ shipment.pallet_count }}</th>
            <th scope="col">{{ shipment.unit_count }}</th>
            <th scope="col">{{ shipment.gross_weight }} lbs/{{ shipment.gross_weight_to_kg }} kg</th>
            <th scope="col">CBM</th>
            <th scope="col">{{ shipment.days_in_house }}</th>
            <th scope="col">Pictures</th>
            {% if shipment.shipment_status %}
                <th scope="col" class="bg-info">Ready</th>
            {% else %}
                <th scope="col" class="bg-danger">Not Ready</th>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
